  
<nav>
    <div class="site-title">
      <a href="/"><h1>Review Samurai</h1></a>
      <p>A game review Site</p>
    </div>
    <ul>
      <li><a href="/">Reviews</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/reviews/add">New Review</a></li>
      <li><button onclick="myFunction()">DARK this page</button></li>
    </ul>
  </nav>
  <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>