<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Thia a game review website made using node, express and mongodb.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>