@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Adelete');
      body{
        background-color: rgb(255, 255, 255);
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: 'Nunito', sans-serif;
        max-width: 1200px;
      }
      
      p, h1, h2, h3, a, ul{
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #222;
      }
      /* nav & footer styles */
      nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(236, 61, 61);
        text-transform: uppercase;
      }
      nav ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      nav li{
        list-style-type: none;
        margin-left: 20px;
      }
      nav li button{
        color: red;
        font-family: 'Nunito', sans-serif;
        border: none;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
      }
      nav h1{
        font-size: 3em;
      }
      nav p, nav a{
        color: rgb(241, 20, 20);
        font-weight: 300;
      }
      footer{
        border-top: 1px solid rgb(88, 86, 86);
        color: rgb(88, 86, 86);
        text-align: center;
        margin: 80px auto 20px;
      }
      h2{
        user-select: none;
        margin-bottom: 40px;
      }
      h3{
        text-transform: capitalize;
        margin-bottom: 8px;
      }
      .content{
        margin-left: 20px;

      }
      h3.title{
        padding:20px;
        box-shadow: 7px 4px 8px 0 rgba(253, 2, 2, 0.2);
        transition: 0.3s;
      }
      h3.title:hover{
        box-shadow: 9px 8px 16px 0 rgba(253, 2, 2, 0.664);
      }
      p.snippet{
        margin-left: 20px;
        padding-top: 8px;
        padding-bottom: 12px;
        color: red;
        user-select: none;
      }
      /* index styles */
      /* details styles */
      .review-body{
        padding:20px;
        box-shadow: 7px 4px 8px 0 rgba(253, 2, 2, 0.2);
        transition: 0.3s;
      }
      .review-body:hover{
        box-shadow: 9px 8px 16px 0 rgba(253, 2, 2, 0.664);
      }
      .review-body p{
        color: red;
      }
      .details{
        position: relative;
      }
      .delete{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 12px;
        padding: 8px;
        box-shadow: 7px 4px 8px 0 rgba(250, 5, 5, 0.342);
        transition: 0.3s;
      }
      .delete:hover{
        cursor: pointer;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
      }
  
      /* create styles */
      .create-review form{
        max-width: 400px;
        margin: 0 auto;
      }
      .create-review select,
      .create-review input,
      .create-review textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .create-review label{
        display: block;
        margin-top: 24px;
        /* padding: 10px; */
        /* box-shadow: 0px 0px 4px 0 rgba(255, 0, 0, 0.274);
        transition: 0.3s; */
      }
      textarea{
        height: 120px;
      }
      .create-review button{
        margin-top: 20px;
        border-radius: 4px;
        background: crimson;
        color: white;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;
      }
      .about{
        padding:20px;
        box-shadow: 7px 4px 8px 0 rgba(250, 5, 5, 0.342);
        transition: 0.3s;
      }
      .about:hover{
        box-shadow: 9px 8px 16px 0 rgba(253, 2, 2, 0.664);
      }
      .dark-mode {
        background-color: black;
        color: rgb(185, 65, 65);
      }
      .dark-mode nav button{
        background-color: black;
        color: red;
      }
      .dark-mode nav h1{
        color: white;
      }
      .dark-mode div h3{
        color: white;
      }
      .dark-mode div h2{
        color: white;
      }
      .dark-mode div p{
        color: red;
      }
      .dark-mode div a {
        color: white;
      }
      .dark-mode div a{
        background-color: rgba(255, 0, 0, 0.911);

      }